/*
cor1: #7986CB indigo-lighten-2
cor1: #6A1B9A purple-darken-3
cor2: #4A148C purple-darken-4
cor2: #84FFFF cyan-accent-1
cor4: #00ACC1 cyan-darken-1
cor5: #00838F cyan-darken-3
cor3: #1E1E1E 
cor4: #000000
cor5: #FFFFFF
*/ 
* {
  box-sizing: border-box;
}

.background {
  display: flex;  
  align-items: center;
  justify-content:space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0;
  font-weight: 520px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2.4rem;
}

.headerbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 1200px;
  height: 100%;
  max-height: 160px;
  background-color: black;
 }

/*breakpoint - 480px(max) - celphones*/
/*@media (max-width: 480px) {
   
}*/

/*breakpoint - 480px - 768px - tablet*/
/*@media (min-width: 480px) {
 
}*/

/*breakpoint - 768px - 1024px - small screen or smaller laptops*/
/*@media (min-width: 768px) {

}*/

/*breakpoint - 1024px - 1200px - desktop*/
/*@media (min-width: 1024px) {

}*/

/*breakpoint - 1200px telas maiores, tvs*/
/*@media (min-width: 1200px) {

}*/