.fundobranco {
    background-color: #ffffff;
  }
  .staticHero {
  color: #ffffff;
  }
  
  .headline {
    width: 100%;  
    max-width: 767px;
    font-size: 2.5rem;
    color:#ffffff;
  }

  .block {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.6rem;
  text-indent: 4.0rem;
  line-height: 2.5rem;

  }

  .pricelist {
    width: auto;
    height: auto;
  }

  .fundopreto {
    background-color: black;
    text-align: center;
    color:#ffffff;
  }