.fundobranco {
    background-color: #ffffff;
  }
  .staticHero {
  color: #ffffff;
  }
  
  .headline {
    max-width: 767px;
    font-size: 30px;
    color:#ffffff;
  }

/* Formulário*/
  #burger-form {
    max-width: 400px;
    margin: 0 auto;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
    margin-bottom: 15px;
    color: #222;;
    padding: 5px 10px;
    border-left: 4px solid #6a1b9a;
  }

  input {
    padding: 5px 10px;
    width: 500px;
    border-style:solid;
    border-radius: 10px;
    
  }

  textarea {
    padding: 5px 10px;
    width: 500px;
    height: 200px;
    border-style:solid;
    border-radius: 10px;
    
  }

  #opcionais-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #opcionais-title {
    width: 100%;
  }

  .checkbox-container {
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 20px;
  }

  .checkbox-container span,
  .checkbox-container input {
    width: auto;
  }

  .checkbox-container span {
    margin-left: 6px;
    font-weight: bold;
  }

  .submit-btn {
    background-color: #222;
    color:#84FFFF;
    font-weight: bold;
    border: 2px solid #222;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    transition: .5s;
  }

  .submit-btn:hover {
    background-color: transparent;
    color: #222;
  }