.fundobranco {
    background-color: #ffffff;
    padding-left: 10px;
  }
  .title1 {
    color:#6a1b9a;
    padding-left: 25px;
  
  }
  .description1 {
    color: black;
    font-size: 20px;
    text-align: justify;
    text-indent: 40px;
    line-height: 30px;
  }
  .img1 {
    width: '600px';
    height: '500px';
  }
  .button1 {
    background-color:#00838f;
    color:#FFFFFF;
    margin-left: 25px;
  }