.backgroundservices {
  background-color: #1e1e1e;
  width: 100%;
  max-width: 1280px;
  height: 100%;
}

.imageservices {
  width: 100%;
  max-width: 1100px;
}

.vcard {
  background-color: white;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding: auto;
}

.title3 {
  color: #84ffff;
  font-size: 1rem;
  text-align: center;
}

.vcardtitle {
  background-color: #6a1b9a;
  width: 100%;
  max-width: 1100px;
  text-align: center;
  color: #84ffff;
  font-size: 1.4rem;
}

.description {
  background-color: white;
  width: 100%;
  max-width: 1100px;
  font-size: 1.4rem;
  text-align: justify;
  text-indent: 3.0rem;
  color: black;
  line-height: 2.0rem;
  padding: 20px 30px 20px 30px;
}

.buttoncard {
  background-color: #00838f;
  color: #FFFFFF;
  width: 10.0rem;

}

.alignbutton {
  margin:auto;
}
