/*Responsividade - sm- lg - Tablet-Laptop */
.container_lg  {
    background-color:#00838F ;
    height: 100%;
  }

.fundocard {
    background-color: #FFFFFF;
    padding-left: 10px;
}

.title2 {
    color:#6a1b9a;
    padding-left: 25px;
}

.description2 {
    color: black;
    font-size: 20px;
    text-align: justify;
    text-indent: 40px;
    line-height: 30px;
}

.img2 {
    
    width: '600px';
    height: '500px';
}

.button2 {
    background-color: #00838f;
  color: #ffffff;
  margin-left: 25px;
  width: 100%;
  max-width: 150px;
}

/*Responsividade - xs - 480px - Mobile*/

.container_xs {
    background-color: #ffffff;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    height: 100%;
  }
  
  .title_xs {
    color: #6a1b9a;
    text-align: center;
    font-size: 50px;
  }
  
  .description_xs {
    color: black;
    margin: 30px;
    padding: 30px;
    font-size: 40px;
    text-align: justify;
    text-indent: 40px;
    line-height: 50px;
  }
  
  .button_xs {
    background-color: #00838f;
    color: #ffffff;
    margin: auto;
    width: 100%;
    max-width: 300px;
    height: 60px;
    font-size: 30px;
  }
  